<div class="common-dropdown" 
      [class.left-side]="position === 'left'" 
      [class.right-side]="position === 'right'" 
      [class.left-btn-1]="buttonId === 'left-btn-1'" 
      [class.left-btn-2]="buttonId === 'left-btn-2'" 
      [class.right-btn-1]="buttonId === 'right-btn-1'" 
      [class.right-btn-2]="buttonId === 'right-btn-2'">
  <div class="dropdown-content">
    <ng-container *ngFor="let item of menuItems; let i = index">
      <div 
        class="dropdown-item" 
        (click)="onItemClick(item)"
        [class.disabled]="item.disabled"
      >
        <mat-icon class="dropdown-icon">{{item.icon}}</mat-icon>
        <span class="dropdown-text">{{item.label}}</span>
      </div>
      <mat-divider 
        class="dropdown-divider" 
        *ngIf="i < menuItems.length - 1"
      ></mat-divider>
    </ng-container>
  </div>
</div>
